@model SaintAdviser.WEB.Models.DomesticServices.DistributorshipViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .form-buttons {
        padding-right: 0 !important;
        padding-left: 0 !important;
        justify-content: center;
    }

    .text-start {
        text-align: left !important;
    }

    h5 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 19px;
        margin-top: 6rem;
        color: #000;
    }

    p {
        color: #161615;
        font-size: 17px;
    }

    .btn-danger {
        background-color: #bf002a;
        color: #fff;
        border: 5px 0;
        border-radius: 30px;
        font-weight: bold;
    }

    hr {
        color: #bf002a !important;
        font-weight: bold !important;
        border-top: 1px solid;
    }
</style>

<div class="text-start">
    <h5>FİNANSAL KONTROL VE ANALİZ</h5>
    <hr />
</div>

<div class="container">
    <form asp-controller="Contact" asp-action="Distributorship" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="services-card">
                    <p><strong>
                            Bildiğiniz üzere, Finansal Kontrol ve Analiz ekipleri, şirketteki finansal süreçleri sadece kontrol etmez
                            aynı zamanda bu kontrolleri bir analiz çerçevesinde değerlendirerek, şirkette olması gereken düzenin
                            sağlanması konusunda yol göstericidirler.
                            <br>
                            Dünya’daki hemen hemen her şirket, finansal kontrol ve analiz ekibinin istihdamını ilk sırada tutar.
                            Bunun en büyük sebebi şirketleri için en doğru karar verebilecek mekanizmayı ve temelleri oluşturmak.
                            Biz Saintadviser Markası olarak, şirketinizde olan biten her şeyi sizlere raporlayarak, atılması gereken
                            adımlar konusunda tecrübemizi sizlerle paylaşıyoruz. Dilerseniz proje analizleriniz yaparak ne kadar
                            karlı olduğunuzu tespit ediyoruz, dilerseniz de maliyetlerini ve operasyonel giderlerinizi analiz ederek
                            optimum brüt karınızı, optimum ebit ve ebitta tutarlarınızı ve oranlarınızı tespit ediyoruz.
                            Analiz ve kontrol çalışmaları ne kadar geniş bir alana yayılsa da biz bu konuda hizmet verirken tam bir
                            parçadan yola çıkıyoruz, sonrasında düzelmesi gereken ya da analiz edilmesi gereken detaylara
                            odaklanıyoruz.<br>
                            Finansal Kontrol ve Analiz konusunda daha detaylı bilgi edinmek isterseniz, lütfen bize aşağıda bulunan
                            butona tıklayarak bilgilerinizi bırakın. Sizi en kısa zamanda arayarak şirketinizle ilgili detayları dinlemek
                            bizi çok mutlu edecek.
                       </strong>
                    </p>

                </div>
                @*<div class="form-group">
                <div class="form-group">
                    <button type="submit" class="btn btn-danger" style="width: 50%;">Get An Offer</button>
                </div>
                <div class="form-group">
                    @Html.ActionLink("Set an appointment", "index", "Home", new { @class = "form-control" }, new { @style = "color: #DC143C;" })
                </div>
            </div>*@
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="~/img/SAimg/pexels-eunice-lui-928215@2x.png" />
            </div>
            <div class="col-md-12 mt-5">
                <div class="row form-buttons">
                    <div class="form-group">
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">Teklif Al</button>
                        </div>
                        <div class="form-group">
                            <a href="https://outlook.office365.com/owa/calendar/MeetwithSaintadviser@saintadviser.onmicrosoft.com/bookings/" target="_blank" class="meeting">Toplantı düzenle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>