@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    .services-row {
        margin-top: 70px;
    }

    .services-text-row {
        font-size: 16px;
        margin-top: 70px;
        color: #bf002a;
    }

    .services-font {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        /* margin-top: 6rem;*/
        color: #000;
    }
</style>

<div class="text-center">
    <h6 class="services-text-row">Doğru finansal temeller ve doğru finansal Kararlar için hizmetlerimiz;</h6>
</div>

<div class="container">
    <div class="row text-center services-row">
        @*<div class="col-md-3">
                <a href="/TurkeyService/Research" class="card-href">
                    <div class="services-card">
                        <h6 class="services-font">MARKET RESEARCH</h6>
                        <img class="img-fluid" src="~/img/SAimg/pexels-cottonbro-4861373.png"/>
                    </div>
                </a>
            </div>*@
        <div class="col-md-3">
            <a href="/Home/Financial" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">FİNANSAL PLANLAMA</h6>
                    <img class="img-fluid" src="~/img/SAimg/florence-cathedral-santa-maria.png" />
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Home/SellOnline" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">BÜTÇE VE RAPORLAMA</h6>
                    <img class="img-fluid" src="~/img/SAimg/pexels-karolina-grabowska-4464.png" />
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Home/Distributorship" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">FİNANSAL KONTROL VE ANALİZ</h6>
                    <img class="img-fluid" src="~/img/SAimg/pexels-eunice-lui-928215.png" />
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Home/Operations" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">START-UP FİNANSALLARI</h6>
                    <img class="img-fluid" src="~/img/SAimg/pexels-fauxels-3184653.png" />
                </div>
            </a>
        </div>
    </div>
</div>
