@model SaintAdviser.WEB.Models.DomesticServices.SellOnlineViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
    .form-buttons {
        padding-right: 0 !important;
        padding-left: 0 !important;
        justify-content: center;
    }

    .text-start {
        text-align: left !important;
    }

    h5 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 19px;
        margin-top: 6rem;
        color: #000;
    }

    p {
        color: #161615;
        font-size: 17px;
    }

    .btn-danger {
        background-color: #bf002a;
        color: #fff;
        border: 5px 0;
        border-radius: 30px;
        font-weight: bold;
    }

    hr {
        color: #bf002a !important;
        font-weight: bold !important;
        border-top: 1px solid;
    }
</style>

<div class="text-start">
    <h5>BÜTÇE VE RAPORLAMA</h5>
    <hr />
</div>

<div class="container">
    <form asp-controller="Contact" asp-action="SellOnline" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="services-card">
                    <p>
                        <strong>
                            Bütçe ve raporlama, şirketler için sadece son dönemde değil, yıllardır önemli bir konu olmuştur.
                            Bütçelerinizi bir yıl öncesinden hazırlarsanız, bir yıl öncesinden ne kadar kar elde edeceğinizi, hangi
                            giderin yeni yılda hangi tutarda gerçekleşeceğini görebilirsiniz. Ayrıca elde edeceğiniz karı dönem
                            boyunca takip edip kontrol edebilirsiniz, karınızı düşürecek herhangi bir gider kalemini tespit ettiğinizde
                            ise bu duruma hızlıca tepki vererek şirketinizde doğru gitmeyen herhangi bir işlemi kolaylıkla
                            düzeltebilirsiniz.
                            <br>
                            Doğru bir bütçe ve doğru bir finansal altyapı, size şirketinizde olan biten parasal hareketlerin tümünü
                            kolay ve anlaşılabilir bir şekilde raporlamanıza olanak tanır.
                            <br>
                            Biz Saintadviser markası olarak, bir çok farklı sektörden edinmiş olduğumuz tecrübeyi sizlere aktararak,
                            bütçe ve raporlama alanında şirketinize farklı ve düzenli bir bakış açısı kazandırma amacındayız.
                            Bütçe ve raporlama hakkında daha detaylı bilgi edinmek isterseniz, aşağıda bulunan butondan bize
                            Bilgilerinizi bırakabilirsiniz. Sizi en kısa sürede arayıp şirketinizle ilgili dinamikleri detaylı bir şekilde
                            dinlemek isteriz.
                        </strong>
                    </p>
                </div>
                @*<div class="form-group">
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger" style="width: 50%;">Get An Offer</button>
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Set an appointment", "index", "Home", new { @class = "form-control" }, new { @style = "color: #DC143C;" })
                        </div>
                    </div>*@
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="~/img/SAimg/pexels-karolina-grabowska-4464@2x.png" />
            </div>
            <div class="col-md-12 mt-5">
                <div class="row form-buttons">
                    <div class="form-group">
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">Teklif Al</button>
                        </div>
                        <div class="form-group">
                            <a href="https://outlook.office365.com/owa/calendar/MeetwithSaintadviser@saintadviser.onmicrosoft.com/bookings/" target="_blank" class="meeting">Toplantı düzenle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>