SaintAdviser.WEB/SaintAdviser.Business/bin/Debug/
SaintAdviser.WEB/SaintAdviser.Business/obj/Debug/
SaintAdviser.WEB/SaintAdviser.DAL/bin/Debug/
SaintAdviser.WEB/SaintAdviser.DAL/obj/Debug/
SaintAdviser.WEB/SaintAdviser.Data/bin/Debug/
SaintAdviser.WEB/SaintAdviser.Data/obj/Debug/
SaintAdviser.WEB/SaintAdviser.Entities/obj/Debug/
SaintAdviser.WEB/SaintAdviser.Entity/bin/Debug/
SaintAdviser.WEB/SaintAdviser.Entity/obj/Debug/
SaintAdviser.WEB/SaintAdviser.WEB/bin/Debug/
SaintAdviser.WEB/SaintAdviser.WEB/obj/Debug/
