@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    h5 {
        text-transform : uppercase;
        font-weight : bold;
        font-size : 27px;
        margin-top : 6rem;
        color : #000;
    }

    h6 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
        color: #bf002a;
    }

    p {
        color : #161615;
        font-size : 17px;
        /*font-weight : bold;*/
    }

    /*.red-copyright {
        color: #bf002a;
        margin-top : 50px;
        text-align: end;
        justify-content: end;
    }*/

    .team {
        text-align : end;
    }

    .more-than {
        text-align : end;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h5 class="ml-2">ABOUT SAINTADVISER</h5>
            <h6 class="ml-2">SAINTADVISER BRAND IS CREATED BY FA COMPANY LLC.</h6><br>
            <p class="ml-2"><strong>
                This project emerged while we were doing research on start up businesses abroad. We liked a few ideas that fit for Turkish customers and we thought that we could start these businesses in Turkey. When we continued the research we realized that there are not a few startup businesses fit for Turkey 
                but many! After long time discussions, we decided to start Saintadviser project.</strong>
            </p><br><br>
            <p class="ml-2"><strong>
                The next step for Saintadviser will be to implement the main project that will increase the intercontinental communication of companies around the world. Saintadviser's target is to provide really solid services to their customers. We made all preparations carefully. We thought every detail that you may need and we created the infrastructure of our services.</strong>
            </p><br><br>
            <p class="ml-2"><strong>
                Today we are going to talk about team, organization, why, general information and our price policy.</strong>
            </p>
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
        <div class="col-md-3">
            <img src="~/img/SAimg/Image_2.png" />
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/SAimg/n_6.png" />
        </div>
        <div class="col-md-9">
            <h5 class="mr-3 team">TEAM</h5>
            <h6 class="mr-3 more-than">MORE THAN 40 AMAZING PEOPLE WORKING FOR</h6>
            <h6 class="mr-3 more-than">SAINT ADVISER</h6><br>
            @*<p class="ml-2">
                This project emerged while we were doing research on start up businesses abroad. We liked a few ideas that fit for Turkish customers and we thought that we could start these businesses in Turkey. When we continued the research we realized that there are not a few startup businesses fit for Turkey
                but many! After long time discussions, we decided to start Saintadviser project.
            </p><br><br>
            <p class="ml-2">
                The next step for Saintadviser will be to implement the main project that will increase the intercontinental communication of companies around the world. Saintadviser's target is to provide really solid services to their customers. We made all preparations carefully. We thought every detail that you may need and we created the infrastructure of our services.
            </p><br><br>
            <p class="ml-2">
                Today we are going to talk about team, organization, why, general information and our price policy.
            </p>*@
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
    </div>
</div>