@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    h4 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin-top: 6rem;
        color: #000;
    }

    h5 {
        text-transform : uppercase;
        font-weight : bold;
        font-size : 27px;
        margin-top : 6rem;
        color : #000;
    }


    h6 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
        color: #bf002a;
    }

    p {
        color : #161615;
        font-size : 17px;
        /*font-weight : bold;*/
    }

    /*.red-copyright {
        color: #bf002a;
        margin-top : 50px;
        text-align: end;
        justify-content: end;
    }*/

    .team {
        text-align : end;
    }

    .more-than {
        text-align : end;
    }

    .content {
        /*text-align : end;*/
    }

    .tm {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        color: #bf002a;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h5 class="ml-2">SAINTADVISER HAKKINDA</h5>
            <h6 class="ml-2">SAINTADVISER, BİR FALLING ACTION LTD. ŞTİ. MARKASIDIR</h6><br>
            <p class="ml-2">
                <strong>
                    Saintadviser markası, küçük ve orta ölçekli şirketlere ve Start up şirketlerine finansal planlama, bütçe ve raporlama, Finansal Kontrol ve Analiz, Start up hizmetleri konularında outsource olarak danışmanlık hizmeti vermektedir.
                </strong>
            </p><br>
            <p class="ml-2">
                <strong>
                    Saintadviser markası 2021 yılında kurulmuş olup, şirketlerin yönetim anlayışlarını, finansal temellerle bir araya getirmeyi amaçlamaktadır.
                </strong>
            </p><br>
            <p class="ml-2">
                <strong>
                    Saintadviser, şirketlere finansal sistemler kurarak, şirketin çalışmış olduğu iş koluna uygun yapılan raporlamalar sayesinde, yöneticilerin şirketlerini yönetirken doğru çıktılara bakarak doğru kararlar vermesini sağlamaktadır.
                </strong>
            </p>
            </p><br>
            <p class="ml-2">
                <strong>
                    Yapılan çalışmalarla beraber, şirketlere gerekli hizmetler sağlanırken, yapılan hizmetlere ek olarak, eğitim hizmeti de verilmektedir. Böylelikle verilen tüm hizmetler tamamlandıktan sonra, siz ve çalışanlarınız finansal anlamda en doğru temelde bir araya gelip doğru bir sistematikle işlerinizi yürütmeye devam edebilirsiniz.
                </strong>
            </p>
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
        <div class="col-md-3">
            <img src="~/img/SAimg/Image_2.png" />
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <img src="~/img/SAimg/n_6.png" />
        </div>
        <div class="col-md-7">
            <h5 class="mr-3 team">EKİBİMİZ</h5>
            <h6 class="mr-3 more-than">SAINTADVISER YETENEKLİ VE YARATICI EKİBİYLE MÜŞTERİLERİNE HİZMET VERMEKTEDİR</h6><br>
            <p>
                <strong>
                    Saintadviser, çalışanlarını seçerken her şeyden önce kişilerin iyi insan olup olmadıklarını değerlendirir. Sonrasında bu doğru kişiler hedeflediğimiz yeteneğe ve yaratıcılığa ulaştırılır.
                    Gücümüzü profesyonellik ve pozitiflikten alıyoruz.

                </strong>
            </p>
            <p>
                <strong>

                    * Yazılım ekibimiz 3 kişiden oluşmaktadır.<br>
                    * Araştırma ekibimiz 2 kişiden oluşmaktadır.<br>
                    * Analiz ekibimiz 2 kişiden oluşmaktadır.<br>
                    * Danışmanlık ekimiz ise 5 kişiden oluşmaktadır.
                </strong>
            </p>
            <p>
                <strong>
                    Ekibimizde çalışan arkadaşlarımızın tümünün big4 tecrübesi bulunmaktadır. Bununla birlikte, yaklaşık 20 ayrı sektörde derinlemesine tecrübe sahibiyiz. Bu da sizlere, nasıl daha iyi hizmet verebiliriz noktasında bize güzel bir ilham kaynağı olmaktadır.
                </strong>
            </p><br>
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-9">
            <h5 class="ml-2">GENEL BİLGİLER</h5>
            <h6 class="ml-2">SİZ SORMADAN ÖNCE</h6><br>
            <p class="ml-2">
                <strong>
                    * Bir çok sektörde tecrübemiz bulunmaktadır. Dolayısı ile sektörünüz ne olursa olsun bu konuda sizlere yardımcı olacağımıza eminiz.<br>
                    <br>
                    * Çalıştığımız firmaların tümü ile karşılık olarak gizlilik sözleşmesi imzalıyoruz. Dolayısı ile sizleri referans gösteremediğimiz gibi çalıştığımız firmaları da referans olarak gösteremiyoruz.<br>
                    <br>
                    * Tüm şirketler için, finansal planlama ve sistem oluşturma işlemleri farklı şekillerde yapılmaktadır. Bu yapılan çalışmalar tamamen şirketin işleyiş biçimi ile doğrudan ilişkili olarak yapılmaktadır.<br>
                    <br>
                    * Sadece küçük ve orta ölçekli şirketlerle ve start up şirketlerine hizmet vermiyoruz. Bununla birlikte hacimsel olarak büyük ancak organizasyon olarak küçük firmalara da hizmetler sunuyoruz.<br>
                    <br>
                    * Eğer şirketiniz için hangi hizmetin doğru olduğunu tespit edemiyorsanız. Bir kaç saatlik analiz sonrası sizler için yapılması gereken düzeltmeleri ve geliştirmeleri sizlere raporluyoruz. Sonrasında dilerseniz planlama gerçekleştirerek çalışmaya devam ediyoruz.
                </strong>
            </p>
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
        <div class="col-md-3">
            <img src="~/img/SAimg/pexels-alp-yAldAzlar-8106544.png" />
        </div>
    </div>
</div>