@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    h4 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin-top: 6rem;
        color: #000;
    }

    h5 {
        text-transform : uppercase;
        font-weight : bold;
        font-size : 27px;
        margin-top : 6rem;
        color : #000;
    }


    h6 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
        color: #bf002a;
    }

    p {
        color : #161615;
        font-size : 17px;
        /*font-weight : bold;*/
    }

    /*.red-copyright {
        color: #bf002a;
        margin-top : 50px;
        text-align: end;
        justify-content: end;
    }*/

    .team {
        text-align : end;
    }

    .more-than {
        text-align : end;
    }

    .content {
        /*text-align : end;*/
    }

    .tm {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        color: #bf002a;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h5 class="ml-2">ABOUT SAINTADVISER</h5>
            <h6 class="ml-2">SAINTADVISER BRAND IS CREATED BY FA COMPANY LLC.</h6><br>
            <p class="ml-2"><strong>
                This project emerged while we were doing research on start up businesses abroad. We liked a few ideas that fit for Turkish customers and we thought that we could start these businesses in Turkey. When we continued the research we realized that there are not a few startup businesses fit for Turkey 
                but many! After long time discussions, we decided to start Saintadviser project.</strong>
            </p><br><br>
            <p class="ml-2"><strong>
                The next step for Saintadviser will be to implement the main project that will increase the intercontinental communication of companies around the world. Saintadviser's target is to provide really solid services to their customers. We made all preparations carefully. We thought every detail that you may need and we created the infrastructure of our services.</strong>
            </p><br><br>
            <p class="ml-2"><strong>
                Today we are going to talk about team, organization, why, general information and our price policy.</strong>
            </p>
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
        <div class="col-md-3">
            <img src="~/img/SAimg/Image_2.png" />
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <img src="~/img/SAimg/n_6.png" />
        </div>
        <div class="col-md-7">
            <h5 class="mr-3 team">TEAM</h5>
            <h6 class="mr-3 more-than">MORE THAN 40 AMAZING PEOPLE WORKING FOR</h6>
            <h6 class="mr-3 more-than">SAINT ADVISER</h6><br>
            <p>
                <strong>
                    Our employee policy is very simple and basic; if you believe in being good people, every single positivity follows you. We know that success is not enough itself.
                </strong>
            </p>
            <p>
                <strong>
                    Our team is able to do everything with positivity and professionalism.<br>
                    * Software team consists of 2 people.<br>
                    * Research team consists of 3 people.<br>
                    * Analyze team consists of 2 people.<br>
                    * Consultant team consists of 8 people.
                </strong>
            </p><br>
            <p>
                <strong>
                    We also work with around 30 outosourcing professionals in eighteen different industries who are working on different department such as finance, production, logistics, buyer, electric, service, management, sales, human resources, business development and quality.
                </strong>
            </p><br>
            <p>
                <strong>
                    We are business partner with eight advertising agencies and a law firm.
                </strong>
            </p>
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">WHY?</h4>
            <h6 class="text-center tm">TURKISH MARKET</h6><br>
            @*<h6 class="mr-3">SAINT ADVISER</h6><br>*@
            <p>
                <strong>
                    * +55 Million internet users and +30 Million young people.<br>
                    * Open minded & sofisticated customers.<br>
                    * Customers adapt very quickly to applications and software.<br>
                    * Fast paperwork done by Turkish Government and creating process operations easily and fastly.<br>
                    * Cost opportunities because of currency.<br>
                    * Huge attention and huge potential market for fashion, beauty, cosmetics, care, e-bike & e-scooter, podcast tools, online streaming, electronic products, health care products & apps, furnitures and of course sell online.<br>
                    * Huge market gap for agricultural technologies, SAAS, men beauty care, vegan & vegeterian, HR solutions, real estate solutions, plant based consumption.<br>
                    * High volume production capacity, fast due date, easy paperwork.<br>
                    * Talented craftsmen and talented employees.<br>
                    * Realtime bridge with the Middle East.
                </strong>
            </p>
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-9">
            <h5 class="ml-2">GENERAL INFORMATION</h5>
            <h6 class="ml-2">BEFORE YOU ASK</h6><br>
            <p class="ml-2">
                <strong>
                    * We have worked with many companies in different industries. References are not given due to the non-disclosure agreement.<br>
                    * While working in big4 companies, we have met more than 100 proffesional consultants and we choose our outsourcing consultants amoung them.<br>
                    * There are many local small companies that you can be business partner with in Turkey but they don't speak foreign language.<br>
                    * We provide services only in English.<br>
                    * We research about your business and we think about compatibleness in Turkish Market.<br>
                    * When you make your own research on the internet, it is too hard to reach the information about your sector because there are not enough publications in English.<br>
                    * We give really trusted information by talking directly to the proffesionals who are related to the industry.<br>
                    * While we are at the meeting, we cannot give specific information about the status of your product or service in Turkish Market.<br>
                    * At the final report we give an opinion which option will be more succesfull while running your business in Turkish Market. If you need more assistance, we are always here for you.
                </strong>
            </p>
            @*<p class="ml-2 red-copyright">Copyright ©2022 SAINTADVISER All Rights Reserved.</p>*@
        </div>
        <div class="col-md-3">
            <img src="~/img/SAimg/pexels-alp-yAldAzlar-8106544.png" />
        </div>
    </div>
</div>