@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .text-start {
        text-align: left !important;
    }

    h5 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 19px;
        margin-top: 6rem;
        color: #000;
    }

    h4 {
        text-transform: uppercase !important;
        font-weight: bold !important;
        font-size: 17px !important;
        color: #bf002a !important;
    }

    hr {
        color: #bf002a !important;
        font-weight: bold !important;
        border-top: 1px solid;
    }

    .form-buttons {
        padding-right: 0 !important;
        padding-left: 0 !important;
        justify-content: center;
    }

    .btn-danger {
        background-color: #bf002a;
        color: #fff;
        border: 5px 0;
        border-radius: 30px;
        font-weight: bold;
    }

    .form-check-input {
        margin-top: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        height: 50% !important;
        border-radius: 0 10px 0 10px;
        border: 0.1px solid #80808070;
    }

    @@media (max-width:764px) {
        .img-fluid {
            width: 100%;
        }

        .form-group {
            width: 100%;
        }
    }


</style>

<div class="text-start">
    <h5>Financial Services</h5>
    <hr />
</div>

<div class="container">
    <form asp-controller="Contact" asp-action="Financial" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group">
                        <p>
                            <strong>
                                Every major company in the world has a financial controller, budget and reporting team. The biggest reason for this is that company officials see the data processed within the company correctly as output. Thanks to these outputs, you can better analyze your company's operations and better direct your company's future.<br>
                                You can optimize your production, sales and general administrate expenses by identifying the biggest expense items of your company and evaluating the details of the expenses in these expense items. Planing your budget correctly allows you to make the right investment decisions financially.
                            </strong>
                        </p>
                    </div>
                    <!--<div class="form-group">-->
                    @*@Html.TextAreaFor(m => m.UserInput, new { id = "UserInputTA", placeholder = "Write us about what you need....", @class = "form-check-input", @style = "width: 450px;" })*@
                    <!--</div>-->
                </div>
            </div>
            @*<div class="col-md-4">
                <img class="img-fluid" src="~/img/SAimg/pexels-fauxels-3184653@2x.png" />
            </div>*@
        </div>
        @*<div class="row">
            <div class="form-group">
                @Html.TextAreaFor(m => m.UserInput, new { id = "UserInputTA", @class = "form-check-input", @style = "width: 450px;" })
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-3 mt-5">
                <img class="img-fluid" src="~/img/SAimg/pexels-pixabay-53176.png" />
            </div>
            <div class="col-md-9 mt-5">
                <div class="text-start">
                    <h4>Financial Plan And Analyze</h4>
                </div>
                <div class="form-group">
                    <p>
                        <strong>
                            We set our system like that; before preparing your company’s financial planning and statements, we review all the operations. In this direction, we determine what your expense items consist of, which operations are more costly and which operations should be optimized. We take notes on all aspects of company operations, sales and expense items and anlyze all of them. After our professional team examines your company’s situation, we prepare a sample new year budget plan and then we set a meeting. We prepare your optimum budget as a result of the notes taken after the meeting.. After regularly transferring the relevant excel and data to your finance and accounting team, we provide detailed information on how to follow up your budget on a monthly basis. At the end of the project, you can follow your budget and make monthly decisions about your company.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mt-5">
                <div class="text-start">
                    <h4>Reports</h4>
                </div>
                <div class="form-group">
                    <p>
                        <strong>
                            Financial reports give you detailed information about the instantaneous activities of the departments in your company. AWith these reports; your sales amounts in the middle of the month, which product you should sell more, which product is more profitable, how often you consume your stocks, which stocks you consume more slowly, what are the actual costs of the products or services you sell, which products should I develop in, or in which departments should I develop? respond all important output about your company. In addition, a management report designed according to the nature of your business, shows you what your situation is instantly.. In addition to all these, in order to manage your assets correctly, the cash flow statement, how many days you have collected your receivables, how long you have paid your debts, and seeing what kind of loss your company has incurred while performing all these transactions are very important points for your company’s efficiency.
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <img class="img-fluid" src="~/img/SAimg/pexels-johannes-havn-1716008.png" />
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <div class="row">
                <div class="form-group">
                    <p>
                        <strong style="color: #bf002a;">
                            In addition to the above-mentioned services, we can also carry out a separate special works on the special reports you request. You can send us your contact form after clicking the “Get an offer” button and entering your company information.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <div class="row form-buttons">
                <div class="form-group form-group-offer">
                    <div class="form-group form-group-offer">
                        <button type="submit" class="btn btn-danger">Get An Offer</button>
                    </div>
                    <div class="form-group">
                        <a href="https://outlook.office365.com/owa/calendar/MeetwithSaintadviser@saintadviser.onmicrosoft.com/bookings/" target="_blank" class="meeting" style="margin-left:auto; margin-right: auto;">Set an appointment</a>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>