@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    .services-row {
        margin-top: 70px;
    }


    .services-font {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
       /* margin-top: 6rem;*/
        color: #000;
    }
</style>


@*<div class="text-center">
    <h4 class="display-4">Turkey Services</h4>
</div>*@

<div class="container">
    <div class="row text-center services-row">
        @*<div class="col-md-3">
            <a href="/TurkeyService/Research" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">MARKET RESEARCH</h6>
                    <img class="img-fluid" src="~/img/SAimg/pexels-cottonbro-4861373.png"/>
                </div>
            </a>
        </div>*@
        <div class="col-md-3">
            <a href="/TurkeyService/Financial" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">FINANCIAL SERVICES</h6>
                    <img class="img-fluid"src="~/img/SAimg/florence-cathedral-santa-maria.png" />
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/TurkeyService/SellOnline" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">SELL ONLINE</h6>
                    <img class="img-fluid" src="~/img/SAimg/pexels-karolina-grabowska-4464.png" />
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/TurkeyService/Distributorship" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">DISTRIBUTORSHIP</h6>
                    <img class="img-fluid" src="~/img/SAimg/pexels-eunice-lui-928215.png" />
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/TurkeyService/Operations" class="card-href">
                <div class="services-card">
                    <h6 class="services-font">OPERATIONS</h6>
                    <img class="img-fluid" src="~/img/SAimg/pexels-fauxels-3184653.png" />
                </div>
            </a>
        </div>
    </div>
</div>