@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Turkey Services</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/TurkeyService/Research" class="card-href">
                <div class="services-card">
                    <p>MARKET RESEARCH</p>
                    <img class="img-fluid" src="~/img/SAimg/pexels-cottonbro-4861373.png"/>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/TurkeyService/SellOnline" class="card-href">
                <div class="services-card">
                    <p>SELL ONLINE</p>
                    <img class="img-fluid" src="~/img/SAimg/pexels-karolina-grabowska-4464.png" />
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/TurkeyService/Distributorship" class="card-href">
                <div class="services-card">
                    <p>DISTRIBUTORSHIP</p>
                    <img class="img-fluid" src="~/img/SAimg/pexels-eunice-lui-928215.png" />
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/TurkeyService/Operations" class="card-href">
                <div class="services-card">
                    <p>OPERATIONS</p>
                    <img class="img-fluid" src="~/img/SAimg/pexels-fauxels-3184653.png" />
                </div>
            </a>
        </div>
    </div>
</div>