@model SaintAdviser.WEB.Models.DomesticServices.OperationsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .text-start {
        text-align: left !important;
    }

    h5 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 27px;
        margin-top: 6rem;
        color: #000;
    }

    hr {
        color: #bf002a !important;
        font-weight: bold !important;
        border-top: 1px solid;
    }

    .form-buttons {
        padding-right: 0 !important;
        padding-left: 0 !important;
        justify-content: center;
    }

    .btn-danger {
        background-color: #bf002a;
        color: #fff;
        border: 5px 0;
        border-radius: 30px;
        font-weight: bold;
    }

    .form-check-input {
        margin-top: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        height: 50% !important;
        border-radius: 0 10px 0 10px;
        border: 0.1px solid #80808070;
    }
</style>

<div class="text-start">
    <h5>Operations</h5>
    <hr />
</div>

<div class="container">
    <form asp-controller="Contact" asp-action="Operations" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="form-group">
                        <p>
                            <strong>
                                In this section, consultancy and advice about the operation you want to create for your business in Turkey are given.<br>
                                For example, you want to rent a warehouse, office or a space for yourself, or you want to work with a proffesional sales team. Apart from these, you want to establishe a company, get legal consultancy or make an agreement with a proffesional and establish your operations in Turkey.
                            </strong>
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.UserInput, new { id = "UserInputTA", placeholder = "Write us about what you need...." , @class = "form-check-input", @style = "width: 450px;" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="~/img/SAimg/pexels-fauxels-3184653@2x.png" />
            </div>
        </div>
        @*<div class="row">
            <div class="form-group">
                @Html.TextAreaFor(m => m.UserInput, new { id = "UserInputTA", @class = "form-check-input", @style = "width: 450px;" })
            </div>
        </div>*@
        <div class="col-md-12 mt-5">
            <div class="row form-buttons">
                <div class="form-group">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Get An Offer</button>
                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Set an appointment", "index", "Home", new { @class = "form-control" }, new { @style = "color: #DC143C;" })
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>