@model SaintAdviser.WEB.Models.DomesticServices.ResearchViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    body {
        text-align: center;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .selected-image .image {
        opacity: 0.3;
    }

    .selected-image .middle {
        opacity: 1;
    }

    .image-container:hover .image {
        opacity: 0.3;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
/*        text-align: center;*/
    }

    .image-container:hover .middle {
        opacity: 1;
    }

    .selected-service-select-btn {
        background-color: coral;
    }

    .selected-service-select-btn:hover {
        background-color: coral;
    }

    .service-select-btn {
        background-color: #bf002a;
        color: #fff;
        margin-top: 50%;
        border: 5px 0;
        border-radius: 30px;
        font-weight: bold;
    }

    .text-in-services {
        font-size: 15px !important;
        font-weight: bold;
    }

    .btn-default:hover {
        background-color: #fff;
        color: #bf002a;
    }

    h5 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 19px;
        margin-top: 6rem;
        color: #000;
    }

    .col-md-3 {
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: center !important;
    }

    hr {
        color: #bf002a !important;
        font-weight: bold !important;
        border-top: 1px solid;
    }

    .text-start {
        text-align: left !important;
    }

    .cards-bottom-text {
        margin-top: 3%;
        font-weight: bold;
        color: #000;
    }

    .form-buttons {
        padding-right: 0 !important;
        padding-left: 0 !important;
        justify-content: center;
    }

    .btn-danger {
        background-color: #bf002a;
        color: #fff;
        border: 5px 0;
        border-radius: 30px;
        font-weight: bold;
    }

</style>
<div class="text-start">
    <h5>Market Research</h5>
    <hr />
</div>

<div class="container">
    <form asp-controller="Contact" asp-action="Research" method="post">
        <div class="row">
            <div class="col-md-3 image-container" id="SectorIndustriIC">
                <a class="card-href">
                    <div class="services-card image">
                        <img class="img-fluid" src="~/img/SAimg/pexels-pixabay-53176.png" />
                        <p class="cards-bottom-text">SECTOR & INDUSTRY</p>
                    </div>
                    <div class="middle">
                        <div class="text text-center text-in-services">
                            Find out all details about your business
                            <input type="button" class="btn btn-default service-select-btn" id="SectorIndustri" value="Select" />
                        </div>
                        @Html.CheckBoxFor(m => m.SectorIndustri, new { id = "SectorIndustriRB", type = "checkbox", @style = "visibility: hidden;" })
                    </div>
                </a>
            </div>
            <div class="col-md-3 image-container" id="CustomerProfileIC">
                <a class="card-href">
                    <div class="services-card image">
                        <img class="img-fluid" src="~/img/SAimg/pexels-lina-kivaka-1524123.png" />
                        <p class="cards-bottom-text">CUSTOMER PROFILE</p>
                    </div>
                    <div class="middle">
                        <div class="text text-center text-in-services">
                            Find out all details about your customers
                            <input type="button" class="btn btn-default service-select-btn" id="CustomerProfile" value="Select" />
                        </div>
                        @Html.CheckBoxFor(m => m.CustomerProfile, new { id = "CustomerProfileRB", type = "checkbox", @style = "visibility: hidden;" })
                    </div>
                </a>
            </div>
            <div class="col-md-3 image-container" id="AdvertisingCostsIC">
                <a class="card-href">
                    <div class="services-card image">
                        <img class="img-fluid" src="~/img/SAimg/pexels-arnold-nagy-11463969.png" />
                        <p class="cards-bottom-text">ADVERTISING COSTS</p>
                    </div>
                    <div class="middle">
                        <div class="text text-center text-in-services">
                            Find out all details about your advertising costs
                            <input type="button" class="btn btn-default service-select-btn" id="AdvertisingCosts" value="Select" />
                        </div>
                        @Html.CheckBoxFor(m => m.AdvertisingCosts, new { id = "AdvertisingCostsRB", type = "checkbox", @style = "visibility: hidden;" })
                    </div>
                </a>
            </div>
            <div class="col-md-3 image-container" id="SupplierWholesaleIC">
                <a class="card-href">
                    <div class="services-card image">
                        <img class="img-fluid" src="~/img/SAimg/pexels-leticia-ribeiro-2249249.png" />
                        <p class="cards-bottom-text">SUPPLIER & WHOLESALE</p>
                    </div>
                    <div class="middle">
                        <div class="text text-center text-in-services">
                            Find suppliers to improve your production process
                            <input type="button" class="btn btn-default service-select-btn" id="SupplierWholesale" value="Select" />
                        </div>
                        @Html.CheckBoxFor(m => m.SupplierWholesale, new { id = "SupplierWholesaleRB", type = "checkbox", @style = "visibility: hidden;" })
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <div class="row form-buttons">
                <div class="form-group form-group-offer">
                    <div class="form-group form-group-offer">
                        <button type="submit" class="btn btn-danger">Get An Offer</button>
                    </div>
                    <div class="form-group">
                        <a href="https://outlook.office365.com/owa/calendar/MeetwithSaintadviser@saintadviser.onmicrosoft.com/bookings/" target="_blank" class="meeting">Set an appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        $(".service-select-btn").click(function () {
            var icId = this.id + "IC";
            var rbId = this.id + "RB";
            if ($('#' + icId).hasClass('selected-image')) {
                $('#' + this.id).removeClass('selected-service-select-btn');
                $('#' + icId).removeClass('selected-image');
                $('#' + rbId).attr("checked", false);
            }
            else {
                $('#' + this.id).addClass('selected-service-select-btn');
                $('#' + icId).addClass('selected-image');
                $('#' + rbId).attr("checked", true);
            }
        });

    });

</script>